<script src='https://cdn.plot.ly/plotly-2.14.0.min.js'></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<div class="chart-container" style="position: relative; height:40vh; width:80vw">
    <div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
</div>

<script>
    var data = [
        {
            name: "Tweets polarization",
            type: "waterfall",
            orientation: "v",
            measure: [],
            x: [],
            textposition: "outside",
            text: [],          
            y: [],
            connector: {
                line: {
                    color: "rgb(63, 63, 63)"
                }
            },
        }
    ];
    layout = {
        title: {
            text: "#NFT Tweets polarization"
        },
        xaxis: {
            type: "date"
        },
        yaxis: {
            type: "linear"
        },
        autosize: true,
        showlegend: true
    };
    Plotly.newPlot("myDiv", data, layout);
</script>
<script>
    setInterval(
        function updateValues() {

        var updatedData = $.get('/data');

        updatedData.done(makeChart);
        },100); 


    function makeChart(data) {
        console.log(data)
        var timestamps = data.map(function(d) {return d.timestamp;});
        var deltas = data.map(function(d) {return d.delta;});
        console.log(timestamps)
        console.log(deltas)
        Plotly.restyle('myDiv', {y: [deltas], x: [timestamps]}, [0])        
    }
</script>